progress,sub,sup{vertical-align:baseline;}button,hr,input{overflow:visible;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;}audio:not([controls]){display:none;height:0;} [hidden],template{display:none;}a{background-color:transparent;-webkit-text-decoration-skip:objects;}a:active,a:hover{outline-width:0;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background-color:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;}sub{bottom:-.25em;}sup{top:-.5em;}img{border-style:none;}svg:not(:root){overflow:hidden;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}button,input,select,textarea{font:inherit;margin:0;}optgroup{font-weight:700;}button,input{}button,select{text-transform:none;}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button;}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}textarea{overflow:auto;}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0;}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto;}[type=search]{-webkit-appearance:textfield;outline-offset:-2px;}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-input-placeholder{color:inherit;opacity:.54;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}

.clearfix:after{visibility:hidden;display:block;content:" ";clear:both;height:0;}

html{box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit;}

body{
	max-width: 100%;
    font-family: 'Anton', sans-serif;
}

/* ********************************************************* */

/*=====  INDEX WRAPPER 1 STARTS HERE ===== */


.index-wrapper-1{
	max-width: 100%;
    padding: 0% 0% 10% 0%;
}

/* START OF SITE NAVIGATION MENU */

.site-navigation-1-1{
    padding-left: 20%;
    padding-right: 20%;
    position: fixed;
    width: 100%;
    background:  RGBA(254, 175, 84, 1.00); /*orange color */
    z-index: 100;

}

.site-navigation-1-1 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.site-navigation-1-1-1 {
    display: flex;
    align-items: center;
    padding: 1.5% 3% 1.5% 3%;
    font-size: 2em;
}

.site-navigation-1-1-1 a{
	text-decoration: none;
	padding: 0.5rem 1rem;
    border-left: : 2px solid white;
	text-shadow: 2px 2px RGBA(0, 175, 234, 0.85);  /*cerulean color*/
    transition: all 0.3s;
}

.site-navigation-1-1-1 a:hover{
	background-color:RGBA(0, 175, 234, 1.00); /*cerulean color*/
    text-shadow: 3px 3px RGBA(254, 175, 84, 1.00); /*orange color */
	border-radius: 5%;
    transition: all 0.3s;
	transform: scale(1.3);
}

.site-navigation-1-1-1 a:visited{
	color:rgba(255,255,255,0.85);
}

/* END OF SITE NAVIGATION MENU */

header {
    padding: 8.5% 20% 0% 20%;
    display: flex;
    justify-content: center;
}

header img {
	width: 50%;
    height: 400px;
    margin-right: 2.5%;
}

.index-wrapper-1-1{
    width: 50%;
    padding-top: 12.5%;
}

.index-wrapper-1-1 h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    color: RGBA(254, 175, 84, 1.00); /*orange color */
    text-shadow: 2px 2px RGBA(0, 175, 234, 0.85); /*cerulean color*/
    font-size: 2.2em;
    margin: 1% 0% 1% 0%;
    /*background-color: purple;*/
}

.index-wrapper-1-1 h2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    color: RGBA(254, 175, 84, 1.00); /*orange color */
    text-shadow: 2px 2px RGBA(0, 175, 234, 0.85); /*cerulean color*/
    font-size: 1.8em;
    margin: 1% 0% 1% 0%;
    /*background-color: purple;*/
}

.index-wrapper-1-1-2 div{
    text-decoration: none;
    text-align: center;
    padding: 1% 0% 1% 0%;
    display: flex;
    flex-direction: column;
    color:RGBA(0, 175, 234, 1.00); /*cerulean color*/
    text-shadow: 2px 2px RGBA(254, 175, 84, 0.85); /*orange color*/
    font-size: 1.2em;
}

/*=====  INDEX WRAPPER 1 ENDS HERE ===== */

/* ********************************************************* */

/*===== INDEX WRAPPER 2 STARTS HERE ===== */
.index-wrapper-2{
    margin: auto;
    padding: 0% 0% 5% 0%;
}

.index-wrapper-2-title {
    text-align: center;
    padding: 0% 20% 0% 20%;
    margin: 0.5% 0.5% 0.5% 0.5%;
}

.index-wrapper-2-title-1, .index-wrapper-2-title-3{
    padding: 0% 1% 0% 1%;
    font-size: 2.2em;
    color: RGBA(254, 175, 84, 1.00); /*orange color */
    text-shadow: 2px 2px RGBA(0, 175, 234, 0.85); /*cerulean color*/
	border-bottom: 4px solid RGBA(254, 175, 84, 1.00); /*orange color */
}

.index-wrapper-2-title-2{
	padding: 0% 1% 0% 1%;
    font-size: 2.2em;
    color: RGBA(0, 175, 234, 0.85); /*cerulean color*/
    text-shadow: 2px 2px RGBA(254, 175, 84, 1.00); /*orange color */
    border-bottom: 4px solid RGBA(0, 175, 234, 0.85); /*cerulean color*/
}

.index-wrapper-2-1 {
    margin: 0.5% 20% 0.5% 20%;
    padding: 3% 0% 2% 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index-wrapper-2-1-1 {
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.index-wrapper-2-1-1-1{
    margin: 0.5%;
    padding: 5% 0% 5% 0%;
}

.index-wrapper-2-1-1-1 i{
    font-size: 7em;
    color: RGBA(0, 175, 234, 0.85); /*cerulean color*/
    text-shadow: 2px 2px RGBA(254, 175, 84, 1.00); /*orange color */    

}

.service-title{
    font-size: 2.0em;
    color: RGBA(254, 175, 84, 1.00); /*orange color */
    text-shadow: 2px 2px RGBA(0, 175, 234, 0.85); /*cerulean color*/
}

.service-description {
    font-size: 0.4em; 
    color: RGBA(0, 175, 234, 0.85); /*cerulean color*/
    text-shadow: 2px 2px RGBA(254, 175, 84, 1.00); /*orange color */    
}

/*=====  INDEX WRAPPER 2 ENDS HERE ===== */


/* ********************************************************* */

/*===== INDEX WRAPPER 3 STARTS HERE ===== */


/*=====  INDEX WRAPPER 3 ENDS HERE ===== */

/* ********************************************************* */

/*=====  INDEX WRAPPER 4 STARTS HERE ===== */

.index-wrapper-4{
    max-width: 100%;
    padding: 0% 0% 10% 0%;
}

.index-wrapper-4-title {
    background-color: none;
    padding: 2% 20% 2% 20%;
}

.index-wrapper-4-title-1 {
    display: flex;
    justify-content: center;
    padding: 0% 0.5% 0% 0.5%;
}

.index-wrapper-4-title-1-1{
    padding: 0% 1% 0% 1%;
    font-size: 2.2em;
    color: RGBA(254, 175, 84, 1.00); /*orange color */
    text-shadow: 2px 2px RGBA(0, 175, 234, 0.85); /*cerulean color*/
    border-bottom: 4px solid RGBA(254, 175, 84, 1.00); /*orange color */
}

.index-wrapper-4-title-1-2{
    padding: 0% 1% 0% 1%;
    font-size: 2.2em;
    color: RGBA(0, 175, 234, 0.85); /*cerulean color*/
    text-shadow: 2px 2px RGBA(254, 175, 84, 1.00); /*orange color */
    border-bottom: 4px solid RGBA(0, 175, 234, 0.85); /*cerulean color*/
}

.index-wrapper-4-1 {
    padding: 0% 20% 0% 20%;
    text-align: center;
}

.index-wrapper-4-1 p{
    font-size: 1.2em; 
    color: RGBA(0, 175, 234, 0.85); /*cerulean color*/
    text-shadow: 2px 2px RGBA(254, 175, 84, 1.00); /*orange color */    
}

.index-wrapper-4-2{
    padding: 2% 20% 2% 20%;
}

.index-wrapper-4-2-1 div:nth-of-type(odd) {
    display: flex;
    align-items: center;
}

.index-wrapper-4-2-1 div:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.index-wrapper-4-2-1-1 blockquote{
    margin-top: 0%;
    margin-bottom:0%;
}

.index-wrapper-4-2-1-1 p{
    font-size: 1.2em; 
    margin-top: 0%;
    margin-bottom:0%;
    color: RGBA(0, 175, 234, 0.85); /*cerulean color*/
    text-shadow: 2px 2px RGBA(254, 175, 84, 1.00); /*orange color */    
}

.quote-left{
	text-align: left;
    margin-top: 0;
}

.fa-quote-left{
    color: RGBA(254, 175, 84, 1.00); /*orange color */
    text-shadow: 2px 2px RGBA(0, 175, 234, 0.85); /*cerulean color*/
}

.quote-right{
	text-align: right;
    margin-top: 0;
}

.fa-quote-right{
    color: RGBA(254, 175, 84, 1.00); /*orange color */
    text-shadow: 2px 2px RGBA(0, 175, 234, 0.85); /*cerulean color*/
}

.index-wrapper-4-2-1 img{
	border-radius: 50%;
    border: 6px solid RGBA(254, 175, 84, 1.00);
}

/*=====  INDEX WRAPPER 4 ENDS HERE ===== */

/* ********************************************************* */

/*=====  INDEX WRAPPER 5 STARTS HERE ===== */

/* SOCIAL NAV MENU STARTS HERE */

.social-navigation-1-1 {
    margin: auto;
    background-color: RGBA(0, 175, 234, 1.00); /*cerulean color*/
    width: 100%;
    position: fixed;
    top:86.5%;
    z-index: 100;
}

.social-navigation-1-1 {
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0.5% 20% 0.5% 20%;
}
.social-item {
    color:white;
    display: flex;
    font-size: 2.25em;
    padding: 0% 6% 0% 6%;
}

.social-item a{
    color:white;
	text-decoration: none;
	padding: 0.5rem 1rem;
    border-left: : 2px solid white;
	transition: all 0.3s;

}

.social-item a:hover{
	text-shadow: 1px 1px RGBA(0, 175, 234, 0.85);  /*cerulean color*/
    background-color: RGBA(254, 175, 84, 1.00); /*orange color */
	border-radius: 5%;
    transform:scale(1.10);
	transition: all 0.3s;
}
.social-item a:visited{
	color:rgba(255,255,255,0.85);
}
/* SOCIAL NAV MENU STARTS HERE */

/*=====  INDEX WRAPPER 5 ENDS HERE ===== */

/* ********************************************************* */

/*=====  INDEX WRAPPER 6 STARTS HERE ===== */

.index-wrapper-6 {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: white;
	text-align: center;
    width: 100%;
    position: fixed;
    top:98%;
    z-index: 100;
    font-size: 0.6em;
}
/*=====  INDEX WRAPPER 5 ENDS HERE ===== */


/* ********************************************************* */



/*============== *** *** *** 
MEDIA QUERIES 
============== *** *** *** */

/*=====  INDEX WRAPPER MEDIA QUERIES (max-width: 768px; LANDSCAPE PHONE & PORTRAIT TABLET) STARTS HERE ===== */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    body {
    background-color: white;
}
    header {
    padding: 10% 10% 0% 10%;

}


/*=====  INDEX WRAPPER MEDIA QUERIES (max-width: 768px; LANDSCAPE PHONE & PORTRAIT TABLET) STARTS HERE ===== */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    body {
        background: white;
    }
    
    header {
    padding: 15% 10% 0% 10%;
    display: flex;
    justify-content: center;
}

    .index-wrapper-1-1 h1{
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    font-size: 2.2em;
    margin: 1% 0% 1% 0%;
}

    .index-wrapper-1-1 h2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    margin: 1% 0% 1% 0%;
}

.index-wrapper-1-1-2 div{
    text-decoration: none;
    text-align: center;
    padding: 1% 0% 1% 0%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

.index-wrapper-2{
    padding-bottom: 10%;
}    


.index-wrapper-2-title-1, .index-wrapper-2-title-3{
    padding: 0% 1% 0% 1%;
    font-size: 1.8em;
}

.index-wrapper-2-title-2{
    padding: 0% 1% 0% 1%;
    font-size: 1.8em;
}

.index-wrapper-2-1 {
  margin: 0.5% 20% 0.5% 20%;
  padding: 3% 0% 2% 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-wrapper-2-1-1 {
  padding: 0% 5% 0% 5%;
  width: 500px;
  height: 280px;
  margin: 5px;
  font-size: 1.2em;
  text-align: center;
}

.index-wrapper-2-1-1-1{
    margin-top: 0%;
}

.index-wrapper-2-1-1-1 i{
    font-size: 5.0em;
    margin-top: 0;
}

.service-title{
    font-size: 1.2em;
}

.service-description {
    font-size: 0.95em; 
}

.index-wrapper-4-2 img{
    height:200px;
    width: 200px;
}

.index-wrapper-4-2-1-1 p{
    font-size: 1.0em; 
   
}

    .social-navigation-1-1 {
    padding: 0.5% 25% 0.5% 25%;
}
    
    .social-item {
    padding: 0% 1% 0% 1%;
}

/*=====  INDEX WRAPPER MEDIA QUERIES (LANDSCAPE PHONE & PORTRAIT TABLET) STARTS HERE ===== */

/* ********************************************************* */

/*=====  INDEX WRAPPER MEDIA QUERIES (max-width: 480px ; LANDSCAPE PHONES & DOWN) STARTS HERE ===== */
/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        background: white;
    }


header {
    padding: 8.5% 5% 0% 5%;
    display: block;
    text-align: center;
}

header img {
    width: 50%;
    height: 300px;
    margin-right: 2.5%;
}

.index-wrapper-1-1{
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
    margin: auto;
    width: 100%;
}

.index-wrapper-1-1 h2{
    font-size: 1.8em;
}

.index-wrapper-1-1-2 div{
    font-size: 1.2em;
}

.index-wrapper-2-title {
    padding: 0% 10% 0% 10%;
}

.index-wrapper-2-title-1, .index-wrapper-2-title-2, .index-wrapper-2-title-3 {
    font-size: 1.8em;
}

.index-wrapper-4-2{
    padding: 2% 10% 20% 10%;
}

.index-wrapper-4-2-1 div:nth-of-type(odd) {
    display: block;
    text-align: center;
    padding-top: 5%;
}

.index-wrapper-4-2-1 div:nth-of-type(even) {
    display: block;
    text-align: center;
    padding-top: 5%;
}

.index-wrapper-4-2 img{
    height:150px;
    width: 150px;
}

.index-wrapper-4-2-1-1 p{
    font-size: 0.9em; 
}

    .social-navigation-1-1 {
    padding: 0.5% 25% 0.5% 25%;
}
    
    .social-item {
    padding: 0% 0.5% 0% 0.5%;
}

}

/*=====  INDEX WRAPPER MEDIA QUERIES (max-width: 480px ; LANDSCAPE PHONES & DOWN) ENDS HERE ===== */
